header {
    .features {
        width: 100%;
        height: 1300px;
        margin-top: -300px;
        padding: 382px 176px;
        background-image: url(../img/background2.png);
        background-position-x: center;
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .mobile2__container {
                position: relative;
                right: 500px;
                transition: all 1s ease;
                &.f {
                    right: 0px;
                }
            }

            .features__container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                &__shop {
                    position: relative;
                    right: 20px;
                    bottom: 10px;
                    transition: all 1s ease;
                    &.shopm {
                        right: 80px;
                        bottom: 70px;
                    }
                }
                &__phone {
                    position: relative;
                    top: 20px;
                    right: 0px;
                    transition: all 1s ease;
                    &.phonem {
                        top: 100px;
                        right: 63px;
                    }
                }
                &__paint {
                    position: relative;
                    right: 20px;
                    transition: all 1s ease;
                    &.paintm {
                        right: 170px;
                    }
                }
                div {
                    display: flex;
                    position: relative;
                    width: 271px;
                    height: 322px;
                    flex-direction: column;
                    align-items: center;
                    padding: 52px 0;
                    background-color: $white;
                    box-shadow: 0px 6px 9px 0px rgba(35, 39, 47, 0.1);
                    cursor: pointer;
                    img {
                        width: 52px;
                        height: 52px;
                    }
                    h4 {
                        @include par(14px, 600, $darkBlue);
                        line-height: 1.946;
                        margin: 20px 0 15px;
                    }
                    p {
                        @include par(14px, 400, $lightBlue);
                        width: 230px;
                        height: 92px;
                        line-height: 1.946;
                        text-align: center;
                    }
                }
            }
        }
    }
}
