@charset "UTF-8";
*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 2200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

body header .nav {
  display: block;
  position: relative;
  width: 100%;
  padding: 64px 177px 0;
}

body header .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .nav__container__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .nav__container__navbar ul li {
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 600;
  color: white;
}

body header .nav__container__navbar ul li:not(:first-child) {
  margin-left: 73px;
}

body header .nav__container__navbar ul li a {
  text-decoration: none;
  color: white;
}

body header .header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 180px;
}

body header .header__container__heading h1 {
  font-family: "Work Sans";
  font-size: 47px;
  font-weight: 700;
  color: white;
  max-width: 700px;
  line-height: 1.333;
}

body header .header__container__heading p {
  font-family: "Work Sans";
  font-size: 17px;
  font-weight: 400;
  color: white;
  line-height: 1.816;
  margin-top: 10px;
}

body header .header__container__button button {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 11px 34px 16px;
  margin-top: 55px;
  border: solid 2px white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

body header .header__container__button button:first-child {
  margin-right: 27px;
  color: #233148;
  background-color: white;
}

body header .header__container__button button:last-child {
  background-color: transparent;
}

body header .mobile__container {
  margin-top: 72px;
}

header .features {
  width: 100%;
  height: 1300px;
  margin-top: -300px;
  padding: 382px 176px;
  background-image: url(../img/background2.png);
  background-position-x: center;
}

header .features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .features__wrapper .mobile2__container {
  position: relative;
  right: 500px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header .features__wrapper .mobile2__container.f {
  right: 0px;
}

header .features__wrapper .features__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

header .features__wrapper .features__container__shop {
  position: relative;
  right: 20px;
  bottom: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header .features__wrapper .features__container__shop.shopm {
  right: 80px;
  bottom: 70px;
}

header .features__wrapper .features__container__phone {
  position: relative;
  top: 20px;
  right: 0px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header .features__wrapper .features__container__phone.phonem {
  top: 100px;
  right: 63px;
}

header .features__wrapper .features__container__paint {
  position: relative;
  right: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header .features__wrapper .features__container__paint.paintm {
  right: 170px;
}

header .features__wrapper .features__container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 271px;
  height: 322px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 52px 0;
  background-color: white;
  -webkit-box-shadow: 0px 6px 9px 0px rgba(35, 39, 47, 0.1);
          box-shadow: 0px 6px 9px 0px rgba(35, 39, 47, 0.1);
  cursor: pointer;
}

header .features__wrapper .features__container div img {
  width: 52px;
  height: 52px;
}

header .features__wrapper .features__container div h4 {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 600;
  color: #233148;
  line-height: 1.946;
  margin: 20px 0 15px;
}

header .features__wrapper .features__container div p {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: #6a6d89;
  width: 230px;
  height: 92px;
  line-height: 1.946;
  text-align: center;
}

.about_1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 627px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0 176px;
}

.about_1__wrapper__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_1__wrapper__left h3 {
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 700;
  color: #233148;
  text-align: right;
  line-height: 2;
  margin-bottom: 35px;
}

.about_1__wrapper__left p {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: #6a6d89;
  text-align: right;
  line-height: 1.946;
  width: 459px;
  height: 122px;
}

.about_1__wrapper__left button {
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: 45px;
  padding: 18px 45px 24px;
  background-color: #33d2fd;
  border: solid 1px #83e4ff;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.about_1__wrapper__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.about_1__wrapper__right .about_1__wrapper__right__box {
  position: relative;
  width: 543px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  padding: 28px 26px;
  background: white;
  -webkit-box-shadow: 0px 6px 9px 0px rgba(35, 39, 47, 0.1);
          box-shadow: 0px 6px 9px 0px rgba(35, 39, 47, 0.1);
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: bacground, padding, -webkit-transform 0.4s ease-in-out;
  transition: bacground, padding, -webkit-transform 0.4s ease-in-out;
  transition: bacground, padding, transform 0.4s ease-in-out;
  transition: bacground, padding, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.about_1__wrapper__right .about_1__wrapper__right__box:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.about_1__wrapper__right .about_1__wrapper__right__box.active {
  padding: 28px 26px 35px;
  background-color: #33d2fd;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about_1__wrapper__right .about_1__wrapper__right__box.active img {
  margin-bottom: 60px;
}

.about_1__wrapper__right .about_1__wrapper__right__box.active p {
  display: block;
}

.about_1__wrapper__right .about_1__wrapper__right__box h5 {
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 600;
  color: #233148;
  left: 85px;
  margin-left: 20px;
  text-align: left;
}

.about_1__wrapper__right .about_1__wrapper__right__box h5:not(:last-child) {
  margin-bottom: 10px;
}

.about_1__wrapper__right .about_1__wrapper__right__box p {
  display: none;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: white;
  width: 351px;
  line-height: 1.946;
  margin-left: 20px;
}

.about_1__wrapper__right .about_1__wrapper__right__box:first-child {
  padding-left: 30px;
}

.about_1__wrapper__right .about_1__wrapper__right__box:nth-child(2) {
  padding-left: 36px;
}

.about_1__wrapper__right .about_1__wrapper__right__box:nth-child(2) h5,
.about_1__wrapper__right .about_1__wrapper__right__box:nth-child(2) p {
  margin-left: 28px;
}

.about_1__wrapper__right .about_1__wrapper__right__box:last-child {
  margin-bottom: 0;
}

.about_1__wrapper__right .about_1__wrapper__right__box:last-child h5,
.about_1__wrapper__right .about_1__wrapper__right__box:last-child p {
  margin-left: 22px;
}

.Cras_ultricies_ligul {
  font-size: 14px;
  font-family: "Work Sans";
  color: white;
  line-height: 1.946;
  text-align: left;
  position: absolute;
  left: 823.047px;
  top: 2370.843px;
  width: 351px;
  height: 40px;
  z-index: 95;
}

.about_2__wrapper {
  position: relative;
  width: 100%;
  height: 476px;
  padding: 0 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafc;
}

.about_2__wrapper__des {
  height: 330px;
}

.about_2__wrapper__des h3 {
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 700;
  color: #233148;
  line-height: 2;
  margin-bottom: 20px;
}

.about_2__wrapper__des h4 {
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 700;
  color: #233148;
  position: relative;
  line-height: 1.816;
  margin-bottom: 15px;
  padding-left: 35px;
}

.about_2__wrapper__des h4::after {
  content: "✔";
  position: absolute;
  left: 0;
  -webkit-transform: translateY();
          transform: translateY();
  padding: 0 7px;
  text-align: center;
  background-color: #33d2fd;
  border-radius: 100%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.about_2__wrapper__des p {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: #6a6d89;
  width: 458px;
  height: 122px;
  margin-top: 30px;
  line-height: 1.946;
}

.Cras_ultricies_ligul {
  font-size: 14px;
  font-family: "Work Sans";
  color: #6a6d89;
  text-align: left;
  position: absolute;
  left: 835.187px;
  top: 3016.843px;
  z-index: 66;
}

.app__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 238px 0 318px;
  background-image: url(../img/app-background.png);
  background-position-x: -135px;
}

.app__wrapper__pargraph h3 {
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 700;
  color: #233148;
  line-height: 2;
  margin-bottom: 20px;
}

.app__wrapper__pargraph p {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: white;
  width: 465px;
  height: 92px;
  line-height: 1.946;
  margin-bottom: 50px;
}

.app__wrapper__pargraph__download img {
  width: 161px;
  height: 49px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.app__wrapper__pargraph__download img:not(:last-child) {
  margin-right: 30px;
}

.app__wrapper__pargraph__download img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.app button {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 700;
  color: white;
  position: absolute;
  width: 371px;
  height: 71px;
  left: 50%;
  -webkit-transform: translate(-50%, -35.5px);
          transform: translate(-50%, -35.5px);
  border: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff7c6e), color-stop(99%, #f5317f));
  background-image: linear-gradient(180deg, #ff7c6e 1%, #f5317f 99%);
  -webkit-box-shadow: 0px 11px 29px 0px rgba(255, 7, 95, 0.2);
          box-shadow: 0px 11px 29px 0px rgba(255, 7, 95, 0.2);
  cursor: pointer;
  outline: none;
}

footer .footer__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 665px;
  background-color: white;
  z-index: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 144px;
}

footer .footer__wrapper__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__wrapper__links div:not(:last-child) {
  margin-right: 132px;
}

footer .footer__wrapper__links div ul li {
  list-style: none;
}

footer .footer__wrapper__links div ul li:first-child {
  margin-bottom: 32px;
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 700;
  color: #233148;
  text-decoration: none;
}

footer .footer__wrapper__links div ul li:not(:first-child) {
  margin-bottom: 20px;
}

footer .footer__wrapper__links div ul li:not(:first-child) a {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: #6a6d89;
  cursor: pointer;
  text-decoration: none;
}

footer .footer__wrapper__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

footer .footer__wrapper__paragraph h3 {
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 600;
  color: #233148;
  text-align: center;
  line-height: 2;
  margin-bottom: 10px;
}

footer .footer__wrapper__paragraph p {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: #6a6d89;
  text-align: center;
  line-height: 1.946;
}

footer .footer__wrapper__submit {
  margin-top: 40px;
}

footer .footer__wrapper__submit input {
  width: 571px;
  height: 51px;
  background-color: #e2e2e2;
  border: none;
  margin-right: 25px;
}

footer .footer__wrapper__submit button {
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 600;
  color: #233148;
  width: 171px;
  height: 51px;
  border: none;
  background-color: #33d2fd;
  outline: none;
}
/*# sourceMappingURL=style.css.map */